@model IEnumerable<ConfigurationListDto>
@{int count=0;}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title"></h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Configuration List</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Application</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(++count)</td>
                                            <td>@item.ApplicationName</td>
                                            <td>@item.Name</td>
                                            <td>@item.Type</td>
                                            <td>@item.Value</td>
                                            <td><a href="/Configuration/DeleteConfiguration/@item.Id" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Configuration/UpdateConfiguration/@item.Id" class="btn btn-outline-success">Update</a></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <a href="/Configuration/AddConfiguration/" class="btn btn-outline-primary btn-round">New Configuration Add</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>